button, main:hover > .card.popular:not(:hover) button {
    width: 296px;
    height: 49px;

    margin-top: auto;

    outline: none;
    border: 1px solid var(--blue);
    border-radius: 10px;

    cursor: pointer;

    background-color: #fff;
    color: var(--blue);

    transition: var(--transition);
}

button p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.card:hover button, .card.popular button {
    background-color: var(--blue);
    color: #fff;
}

button:hover {
    filter: brightness(1.2);
    transition: none;
}

button:active {
    filter: brightness(0.9);
}