button {
    width: 296px;
    height: 49px;

    margin-top: auto;

    outline: none;
    border: 1px solid var(--blue);
    border-radius: 10px;

    cursor: pointer;

    background-color: #fff;
    color: var(--blue);
}

button p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.card.popular button {
    background-color: var(--blue);
    color: #fff;
}

button:hover, .card.popular button:hover {
    background-color: var(--black);
    border-color: var(--black);
    color: #fff;

    transition: var(--transition);
}

button:active {
    filter: brightness(0.4);
    transition: none;
}