header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin-bottom: 4vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}