.price {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: var(--black);
}

.cents {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--black);
}

.period {
    margin-left: 5px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--gray);
}